.navigationContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 55px;
    left: 50px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.5);

}
.link {
    padding: 8px 8px;
    margin: 2px 2px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: #eeeeee;
}