@import "src/SCSS/mixins";

.loginContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .loginTitle{
        @include titleDescription();
    }
    .loginError {
        @include error();
    }
}