@mixin titleDescription() {
  position: relative;
  margin: 10px auto;
  font-size: 24px;
  font-weight: 700;
  z-index: 2;

  cursor: default;
  &:after {
    position: absolute;
    content: '';
    top: 24px;
    left: 0;

    z-index: -1;
    width: 100%;
    height: 5px;
    background-color: gray;
  }
}

@mixin error() {
  font-size: 18px;
  font-weight: 600;
  color: #fd6969;
}