@import "src/SCSS/mixins";

.registrContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .registrText {
        @include titleDescription();
    }
    .registrButton {
        margin-top: 5px;
        padding: 5px;

        color: white;
        font-size: 18px;
        border: none;

        background-color: black;
        cursor: pointer;
    }
    .registrError {
        @include error();
    }
}





