.registrContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .registrText {
        position: relative;
        margin: 10px auto;
        font-size: 24px;
        font-weight: 700;
        z-index: 2;

        cursor: default;
        &:after {
            position: absolute;
            content: '';
            top: 24px;
            left: 0;

            z-index: -1;
            width: 100%;
            height: 5px;
            background-color: gray;
        }
    }
    .registrInput {
        margin: 5px 0;
        padding: 5px;
        font-size: 18px;
        border: none;

        border-bottom: 3px solid black;
        border-radius: 10px;
        &:focus {
            outline: none;
        }
    }

    .registrButton {
        margin-top: 5px;
        padding: 5px;

        color: white;
        font-size: 18px;
        border: none;

        background-color: black;
        cursor: pointer;
    }
    .registrError {
        color: #fd6969;
    }
}





